.contactsBlock{
    min-height: 100vh;
    background-color: cornflowerblue;
    padding: 40px 0px;
}

.contactsContainer{
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    background-color: lightgrey;
}


.contactsForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 150px;
    margin-bottom: 20px;
}

.button{
    font-weight: bold;
    font-size: 16px;
    background-color: gray;
    color:white;
    text-decoration: none;
    padding: 10px 10px;
}