@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
  min-height: 300px;
  background-color: $bgColor;
  @include flex(row, center, stretch, nowrap);

  .footerContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    padding: 100px 0 20px;

    .footer {
      @include flex(row, space-between, center, nowrap);
      margin-top: 30px;
      width: 400px;
      @media screen and (max-width: 505px) {
        width: 100%;
      }

      .network {
        height: 60px;
        width: 60px;
        border: 1px solid $primaryColor;
        border-radius: 50%;
        color: $textColor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 33px;

        &:hover {
          border: 1px solid $textColor;
          transition: all 0.3s ease-in-out 0s;
        }

        a {
          color: $textColor;
          &:hover {
            color: $primaryColor;
            transition: all 0.3s ease-in-out 0s;
          }
        }

        @media screen and (max-width: 380px) {
          height: 50px;
          width: 50px;
        }
      }
    }

    .copyright {
      margin-top: 40px;
      @include text($TextFontFamily, 14px, 1.8, 300);
      color: $textColor;
    }
  }
}









