.footerBlock{
    height: 200px;
    background-color: peru;
    padding: 40px 0px;
}

.footerContainer{
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    background-color: lightgrey;
}

.footer{
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

span{
    font-weight: bold;
    font-size: medium;
}

.network{
    height: 50px;
    width: 50px;
    background-color: black;
}