.projectsBlock {
    min-height: 100vh;
    background-color: darkolivegreen;
    padding: 40px 0px;
}

.projectsContainer{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title{
    background-color: lightgrey;
}

.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}